ORDER_HTTP_ADDR=:8080
ORDER_GRPC_ADDR=:9090
ORDER_LOG_LEVEL=info
ORDER_MYSQL_DSN=root:root@tcp(127.0.0.1:3309)/order?charset=utf8mb4&parseTime=True&loc=Local
ORDER_PRODUCT_GRPC_ADDR=127.0.0.1:19002
ORDER_REDIS_ADDR=127.0.0.1:6379
ORDER_REDIS_DB=0
ORDER_NATS_URL=nats://127.0.0.1:4222
ORDER_NATS_STREAM=SECKILL
ORDER_SECKILL_ORDER_SUBJECT=seckill.order
ORDER_SECKILL_ORDER_CONSUMER=order-mock
ORDER_ORDER_CREATED_SUBJECT=order.created
ORDER_ORDER_CANCELLED_SUBJECT=order.cancelled
ORDER_PAYMENT_PAID_SUBJECT=payment.paid
ORDER_PAYMENT_FAILED_SUBJECT=payment.failed
